<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/log.png" width="35" height="35" class="d-inline-block align-top" alt="">
        SÁTIRA
    </a>
    <a id="a" routerLink="login" class="nav-link">Iniciar Sesión</a>
</nav>

<main role="main">
<div id="barra" class="jumbotron text-white">
    <div class="container p-2">
        <h1 class="display-3"> ¡Bienvenido a Sátira!</h1>
        <p>Un lugar donde puedas sentirte como en casa disfrutando de la mejor calidad </p>
        <p><a class="btn btn-danger btn-lg" routerLink="nosotros" role="button">Conócenos &raquo;</a></p>
    </div>
</div>

<!-- <div>    
    <img id="fond" width="1440" src="assets/bar.jpg" alt="">
</div>-->
<div id="catt" class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto p-1"></div>
      <div id="cat" class="card p-3 " style="width: 18rem; border-radius: 20px;">
        <img src="/assets/CERVEZA.jpg" class="rounded-3 img-thumbnail" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Corona Sixpack</h5>
          <p class="card-text">Uno de nuestras mas grandes super ofertas en cervezas importadas desde centroamerica.
          </p>
          <p class="card-text">Oferta: 6 unidades por S/30</p>
          <a href="#" class="btn btn-danger">Ver Oferta &raquo;</a>
        </div>
      </div>

      <div id="cat" class="card p-3" style="width: 18rem; border-radius: 20px;">
        <img id="img" src="/assets/CUZQUENA.png" class="rounded-3 img-thumbnail" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cuzqueña Sixpack</h5>
          <p class="card-text">Una cerveza muy reconocida durante varios años al ser la mejor de todas.</p>
          <p class="card-text">Oferta: 6 unidades por S/20</p>
          <a href="#" class="btn btn-danger">Ver Oferta &raquo;</a>
        </div>
      </div>

      <div id="cat" class="card p-3" style="width: 18rem; border-radius: 20px;">
        <img src="/assets/BARBARIAN.jpg" class="rounded-3 img-thumbnail" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Barbarian 4u.</h5>
          <p class="card-text">Una de las cervezas artesanales más reconocidas gracias a algunos famosos catadores.
          </p>
          <p class="card-text">Oferta: 4 unidades por S/25</p>
          <a href="#" class="btn btn-danger">Ver Oferta &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</main>

