<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="assets/log.png" width="35" height="35" class="d-inline-block align-top" alt="">
      SÁTIRA
  </a>
</nav>
<div id="barra" class="jumbotron text-white">
  <div class="container p-2">
      <h1 class="display-3"> Tiendas Sátira!</h1>
  </div>
</div><br>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto p-1"></div>
    <div id="cat" class="card p-3 " style="width: 18rem; border-radius: 20px;">
      <img src="assets/t1.jpg" class="rounded-3 img-thumbnail" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Barranco</h5>
        <p class="card-text">Lunes a Viernes</p>
        <p class="card-text">Horario: 9:00 AM a 11:00 PM </p>
        <p class="card-text">Av. 28 de julio 206 Barranco</p>
        <a routerLink="/reservas"  class="btn btn-danger">Reservar &raquo;</a>
      </div>
    </div>

    <div id="cat" class="card p-3" style="width: 18rem; border-radius: 20px;">
      <img src="assets/t2.jpg" class="rounded-4 img-thumbnail"
        alt="Card image cap"><br>
      <div class="card-body1">
        <h5 class="card-title">Cieneguilla</h5>
        <p class="card-text">Lunes a Viernes</p>
        <p class="card-text">Horario: 9:00 AM a 11:00 PM </p>
        <p class="card-text">Cieneguilla 15593</p>
        <a routerLink="/reservas" class="btn btn-danger">Reservar &raquo;</a>
      </div>
    </div>

    <div id="cat" class="card p-3" style="width: 18rem; border-radius: 20px;">
      <img src="assets/t3.jpg" class="rounded-5 img-thumbnail" alt="Card image cap"><br>
      <div class="card-body2">
        <h5 class="card-title">La_Molina</h5>
        <p class="card-text">Lunes a Viernes</p>
        <p class="card-text">Horario: 9:00 AM a 11:00 PM </p>              
        <p class="card-text">Jr. Bambues 198</p>
        <a routerLink="/reservas" class="btn btn-danger">Reservar &raquo;</a>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-auto p-1"></div>
        <div id="cat" class="card p-3 " style="width: 18rem; border-radius: 20px;">
          <img src="assets/t4.jpg" class="rounded-6 img-thumbnail" alt="Card image cap"><br>
          <div class="card-body3">
            <h5 class="card-title">Lince</h5>
            <p class="card-text">Lunes a Viernes</p>
          <p class="card-text">Horario: 9:00 AM a 11:00 PM </p>
          <p class="card-text">Jirón Colón 320 </p>              
            <a routerLink="/reservas" class="btn btn-danger">Reservar &raquo;</a>
          </div>
        </div>

        <div id="cat" class="card p-3" style="width: 18rem; border-radius: 20px;">
          <img src="assets/t5.jpg" class="rounded-7 img-thumbnail"
            alt="Card image cap">
          <div class="card-body4">
            <h5 class="card-title">Miraflores</h5>
            <p class="card-text">Lunes a Viernes</p>
          <p class="card-text">Horario: 9:00 AM a 11:00 PM </p>
          <p class="card-text">Lince 136</p>              
          <a routerLink="/reservas" class="btn btn-danger">Reservar &raquo;</a>
        </div>
        </div>

        <div id="cat" class="card p-3" style="width: 18rem; border-radius: 20px;">
          <img src="assets/t6.jpg" class="rounded-8 img-thumbnail" alt="Card image cap"><br>
          <div class="card-body5">
            <h5 class="card-title">San_Borja</h5>
            <p class="card-text">Lunes a Viernes</p>
          <p class="card-text">Horario: 9:00 AM a 11:00 PM </p>
          <p class="card-text">Jiron Unión 147 </p>              
          <a routerLink="/reservas" class="btn btn-danger">Reservar &raquo;</a>
        </div>
        </div>
      </div>
    </div>
    </div>
</div>