<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/log.png" width="35" height="35" class="d-inline-block align-top" alt="">
        SÁTIRA
    </a>
    <a id="a" routerLink="/login" class="nav-link">Iniciar Sesión</a>
</nav>

<main role="main">
    <div id="barra" class="jumbotron text-white">
        <h1 class="display-3"> ¡Bienvenido a Sátira!</h1><br>
    </div><br>
    <div id="b" class="container">
        <div class="row row-cols-2">
            <div class="col">
                <h1 id="barra1">Mision</h1><br>
                <p id="barra1">La Misión de Cerveza Nacional Sátira es “Poseer y potenciar las marcas locales e
                    internacionales
                    preferidas por el consumidor"</p>
            </div>
            <div class="col">
                <h1 id="barra1">visión</h1><br>
                <p id="barra1">La Visión de Cerveza Nacional Sátira es “Ser la empresa más admirada del país por ser
                    líderes en
                    el mercado de bebidas, además de contar con el portafolio de marcas de mayor crecimiento y
                    rentabilidad.”</p>
            </div>
        </div>
    </div>

    <div id="b" class="container">
        <div class="row row-cols-12">
            <div class="col">
                <h1 id="barra1">Integrantes</h1><br>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
            </div>            
        </div>
    </div>