<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="assets/log.png" width="35" height="35" class="d-inline-block align-top" alt="">
      SÁTIRA
  </a>
  <a id="a" routerLink="/tiendas" class="nav-link">Nuestras Tiendas</a>
</nav>
<div id="barra" class="jumbotron text-white">
  <div class="container p-2">
      <h1 class="display-3"> ¡Bienvenido a Sátira!</h1>
      <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button> 
  </div>
</div><br>


<div class="container">
  <div class="card">
    <div class="card-header text-center" >
      <h3>PRODUCTOS</h3>
    </div>
    <div class="card-body">
      <table class="table table-dark table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>presentacion</th>
            <th>precio</th>
            <th>contenido</th>
            <th>ibu</th>
            <th>volumen</th>
            <th>stock</th>
            <th>estado</th>
            <th>procedencia</th>
            <th>categoria</th>
            <th>marca</th>
            <th>Gestionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produc of produc" class="text-center">
            <td>{{produc.idProducto}}</td>
            <td>{{produc.nombre}}</td>
            <td>{{produc.descripcion}}</td>
            <td>{{produc.presentacion}}</td>
            <td>{{produc.precio}}</td>
            <td>{{produc.contenido}}</td>
            <td>{{produc.ibu}}</td>
            <td>{{produc.volumen}}</td>
            <td>{{produc.stock}}</td>
            <td>{{produc.estado}}</td>
            <td>{{produc.procedencia}}</td>
            <td>{{produc.categoria}}</td>
            <td>{{produc.marca}}</td>
            <td>
              <button (click)="Editar(produc)" class="btn btn-warning" >Editar</button><br><br>
              <button (click)="Delete(produc)" class="btn btn-danger" >Delete</button>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>